
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


  *{
    box-sizing: border-box;
  }

  body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
  }

  ul{
    padding: 0;
    margin: 0;
  }

  img{
    display: inline-block;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

  .container{
    width: 1200px;
    margin: 0 auto;
  }

  /* HEADER */

  .site-hero{
    background-color: #F6F6F9;
  }

  .site-logo{
    display: flex;
    margin-bottom: 44px;
  }

  .site-logo .site-logo-link{
    width: 326px;
    height: 43px;
    margin-top: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
  }
  .site-logo-link img{
    width: 306px;
    height: 33px;
  }

  .site-logo p{
    margin: 57px 25px 0;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
  }

  .site-logo p span{
    color:#285193;
  }

  .site-logo-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    margin: 48px 0 0;
    margin-left: auto;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(90deg, #1E96C8 1507%, #37AEE2 85.96%);
    text-decoration: none;
  }

  .site-logo-button-img{
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }

  .site-logo-button:hover{
    opacity: 0.8;
  }


  .site-nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .site-nav{
    width: 1200px;
    height: px;
    margin-bottom: 18px;
    padding: 20px 5px;
    border-radius: 5px;
    background-color: white;
  }

  .site-nav-item a{
    text-decoration: none;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
  }

  .site-nav-item a:hover{
    opacity: 0.6;
  }
  .site-hero-banner{
    width: 1200px;
    height: 99px;
    margin-bottom: 25x;
  }


  /* LIST-SECTION */

  .site-list-section{
    border-radius: 5px;
    padding: 20px 35px;
    margin: 20px 0;
    background-color:#F6F6F9;
  }

  .list-sec{
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .list-section-item{
    display: flex;
    align-items: center;
  }

  .list-section-img{
    width: 40px;
    height: 40px;
    margin-right: 25px;
  }

  .item-word{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }

  .item-word span{
    font-size: 22px;
    font-weight: 500;
    color: #000000;
  }

  .color-word-one{
    color: #DB0000;
  }
  .color-word-two{
    color: #05B135;
  }

  .list-section-divider{
    display: inline-block;
    width: 2px;
    height: 74px;
    background-color: #EB5569;
    margin-left: 70px;
  }


  /* ARTICLE-SECTION */

  .section-article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .section-article-box{
    width: 386px;
  }

  .article-img{
    width: 386px;
  }

  .article-word{
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color: #202020;
  }

  .article-time{
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
  }


  /* RETANGLE-SECTION */

  .section-retangle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 35px;
    background: #EFBA542E;
    margin-bottom: 40px;
    border-radius: 5px;
  }

  .section-retangle-word{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
  }
  .section-retangle-bell{
    display: flex;
    align-items: center;
  }

  .section-bell-icon{
    width: 30px;
    height: 35px;
    margin-right: 17px;
  }

  .section-retangle-but{
    width: 265px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-family: 'Rubik';
    line-height: 24px;
    font-weight: 400;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    color: #fff;
  }

  .section-retangle-but:hover{
    opacity: 0.6;
  }


  /* NEWS-SECTION */

  .section-news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }


  .news-left-word{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .news-left-box{
    display: flex;
    margin-bottom: 18px;
  }

  .left-box-words{
    width: 480px;
    margin-left: 20px;
  }

  .left-box-word-top{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
  }

  .left-box-word-bot{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin: 15px 0 0;
  }
  .left-box-icon-date{
    vertical-align: middle;
  }
  .left-box-time{
    color: #434343;
  }

  .left-box-word-time{
    vertical-align: middle;
    display: inline-block;
  }

  .news-right-pace{
    background-color: #F6F6F9;
    padding: 16px 20px;
    border-radius: 5px;
    margin-top: 20px
  }
  .news-right-pace-heading{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin: 10px 0;
    color: #202020;
  }

  .section-news-but{
    width: 210px;
    height: 42px;
    border-radius: 5px;
    background-color: #295093;
    color: #fff;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 ;
    margin-left: 300px;
    border: 0;
  }

  .section-news-but:hover{
    opacity: 0.6;
  }
  .pace-box-word{
    font-weight: 400;
    line-height: 20px;
    font-size: 17px;
    color: #202020;
  }

  .pace-box-time{
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    color: #7688a4;
  }

  .pace-box-divider{
    display: inline-block;
    height: 4px;
    width: 346px;
    background: #E4E4E4;

  }

  .section-news-img{
    width: 448px;
    height: 554px;
    margin-top: 20px;
  }


  /* BANNER-SECTION */

  .section-banner{
    display: flex;
    justify-content: space-between;
    padding: 35px 20px 0;
    border-radius: 5px;
    background-color: #F6F6F9;
    margin-bottom: 40px;
  }

  .banner-right-word-top{
    margin:  0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
  }

  .section-banner-right{
    display: flex;
    align-items: center;
  }
  .banner-right-word-bot{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #333;
  }

  .banner-right-img{
    width: 164px;
    height: 50px;
    margin-bottom: 25px;
  }

  .banner-right-img-left{
    margin-left: 50px;
  }
  .banner-right-img-right{
    margin-left: 20px;
  }

  /* FOOTER */

  .site-footer{
    background-color: #295093;
  }

  .footer-section{
    padding: 20px 0;
  }

  .foter-logo{
    width: 164px;
    height: 38px;
  }

  .footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer-top-word{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-left: 200px;
  }

  .footer-top-but{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 132px;
    height: 38px;
    margin: 0;
    padding: 9px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    background-color: #fff;
    color: #295093;
  }

  .footer-top-but:hover{
    opacity: 0.6;
  }
  .footer-top-divider{
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color:#133C82;
    margin-bottom: 15px;
  }

  .footer-bot{
    display: flex;
    height: 120px;
  }

  .bot-left-word{
    font-family: 'Rubik';
    width: 365px;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  .footer-bot-right{
    display: flex;
  }

  .bot-right-list{
    list-style: none;
  }

 .footer-list-item{
   margin-bottom: 20px;
   margin-left: 110px;
 }
  .footer-link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }